# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [29]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# see https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

import pandas_datareader.data as web

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [11]:
startdate = dt.datetime(2015, 1, 1)

enddate = dt.datetime.today()

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [26]:
# replaced linkedin with microsoft as data for LNKD was not available
stocks = ['AAPL', 'TSLA', 'TWTR', 'IBM', 'MSFT']

### Step 4. Read the data from google, assign to df and print it

In [30]:
# google not working so trying yahoo instead
df = web.DataReader(stocks, 'yahoo', start=startdate, end=enddate)
df

Attributes   Adj Close                                                 \
Symbols           AAPL        TSLA       TWTR         IBM        MSFT
Date
2015-01-02   24.941502   43.862000  36.560001  125.882919   41.647892
2015-01-05   24.238857   42.018002  36.380001  123.902168   41.264908
2015-01-06   24.241146   42.256001  38.759998  121.230103   40.659245
2015-01-07   24.581060   42.189999  37.279999  120.437820   41.175831
2015-01-08   25.525522   42.124001  39.090000  123.055511   42.387146
...                ...         ...        ...         ...         ...
2020-08-28  124.807503  442.679993  41.070000  125.070000  228.910004
2020-08-31  129.039993  498.320007  40.580002  123.309998  225.529999
2020-09-01  134.179993  475.049988  41.150002  123.400002  227.270004
2020-09-02  131.399994  447.369995  43.669998  128.179993  231.649994
2020-09-03  120.879997  407.000000  41.630001  124.449997  217.300003

Attributes       Close                                                 ...  \
Symbols           AAPL        TSLA       TWTR         IBM        MSFT  ...
Date                                                                   ...
2015-01-02   27.332500   43.862000  36.560001  162.059998   46.759998  ...
2015-01-05   26.562500   42.018002  36.380001  159.509995   46.330002  ...
2015-01-06   26.565001   42.256001  38.759998  156.070007   45.650002  ...
2015-01-07   26.937500   42.189999  37.279999  155.050003   46.230000  ...
2015-01-08   27.972500   42.124001  39.090000  158.419998   47.590000  ...
...                ...         ...        ...         ...         ...  ...
2020-08-28  124.807503  442.679993  41.070000  125.070000  228.910004  ...
2020-08-31  129.039993  498.320007  40.580002  123.309998  225.529999  ...
2020-09-01  134.179993  475.049988  41.150002  123.400002  227.270004  ...
2020-09-02  131.399994  447.369995  43.669998  128.179993  231.649994  ...
2020-09-03  120.879997  407.000000  41.630001  124.449997  217.300003  ...

Attributes        Open                                                 \
Symbols           AAPL        TSLA       TWTR         IBM        MSFT
Date
2015-01-02   27.847500   44.574001  36.230000  161.309998   46.660000
2015-01-05   27.072500   42.910000  36.259998  161.270004   46.369999
2015-01-06   26.635000   42.012001  36.270000  159.669998   46.380001
2015-01-07   26.799999   42.669998  39.099998  157.199997   45.980000
2015-01-08   27.307501   42.562000  37.419998  156.240005   46.750000
...                ...         ...        ...         ...         ...
2020-08-28  126.012497  459.023987  40.500000  124.959999  228.179993
2020-08-31  127.580002  444.609985  40.990002  125.250000  227.000000
2020-09-01  132.759995  502.140015  40.610001  122.849998  225.509995
2020-09-02  137.589996  478.989990  41.520000  123.720001  227.970001
2020-09-03  126.910004  407.230011  42.740002  128.190002  229.270004

Attributes       Volume
Symbols            AAPL         TSLA        TWTR        IBM        MSFT
Date
2015-01-02  212818400.0   23822000.0  12062500.0  5525500.0  27913900.0
2015-01-05  257142000.0   26842500.0  15062700.0  4880400.0  39673900.0
2015-01-06  263188400.0   31309500.0  33050800.0  6146700.0  36447900.0
2015-01-07  160423600.0   14842000.0  22675700.0  4701800.0  29114100.0
2015-01-08  237458000.0   17212500.0  19190400.0  4236800.0  29645200.0
...                 ...          ...         ...        ...         ...
2020-08-28  187630000.0  100406000.0   8033800.0  3099600.0  26292900.0
2020-08-31  225702700.0  118374400.0   7468300.0  4827900.0  28774200.0
2020-09-01  152470100.0   90119400.0  10478800.0  3155300.0  25791200.0
2020-09-02  200119000.0   96176100.0  26800000.0  6592400.0  34080800.0
2020-09-03  254723200.0   85937700.0  18714600.0  5711000.0  58148900.0

[1429 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [34]:
# pandas dataframe
type(df)

pandas.core.frame.DataFrame

In [35]:
df.dtypes

Attributes  Symbols
Adj Close   AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
Close       AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
High        AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
Low         AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
Open        AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
Volume      AAPL       float64
            TSLA       float64
            TWTR       float64
            IBM        float64
            MSFT       float64
dtype: object

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [37]:
df.columns

MultiIndex([('Adj Close', 'AAPL'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'TWTR'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'MSFT'),
            (    'Close', 'AAPL'),
            (    'Close', 'TSLA'),
            (    'Close', 'TWTR'),
            (    'Close',  'IBM'),
            (    'Close', 'MSFT'),
            (     'High', 'AAPL'),
            (     'High', 'TSLA'),
            (     'High', 'TWTR'),
            (     'High',  'IBM'),
            (     'High', 'MSFT'),
            (      'Low', 'AAPL'),
            (      'Low', 'TSLA'),
            (      'Low', 'TWTR'),
            (      'Low',  'IBM'),
            (      'Low', 'MSFT'),
            (     'Open', 'AAPL'),
            (     'Open', 'TSLA'),
            (     'Open', 'TWTR'),
            (     'Open',  'IBM'),
            (     'Open', 'MSFT'),
            (   'Volume', 'AAPL'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'TWTR'),
            (   'Volume',  'IBM'),
            (   'Volume', 'MSFT')],
           names=['Attributes', 'Symbols'])

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [39]:
vol = df['Volume']
vol

Symbols            AAPL         TSLA        TWTR        IBM        MSFT
Date
2015-01-02  212818400.0   23822000.0  12062500.0  5525500.0  27913900.0
2015-01-05  257142000.0   26842500.0  15062700.0  4880400.0  39673900.0
2015-01-06  263188400.0   31309500.0  33050800.0  6146700.0  36447900.0
2015-01-07  160423600.0   14842000.0  22675700.0  4701800.0  29114100.0
2015-01-08  237458000.0   17212500.0  19190400.0  4236800.0  29645200.0
...                 ...          ...         ...        ...         ...
2020-08-28  187630000.0  100406000.0   8033800.0  3099600.0  26292900.0
2020-08-31  225702700.0  118374400.0   7468300.0  4827900.0  28774200.0
2020-09-01  152470100.0   90119400.0  10478800.0  3155300.0  25791200.0
2020-09-02  200119000.0   96176100.0  26800000.0  6592400.0  34080800.0
2020-09-03  254723200.0   85937700.0  18714600.0  5711000.0  58148900.0

[1429 rows x 5 columns]

In [46]:
# vol.to_csv('data/vol.csv')

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [52]:
# see https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects
# for time offset codes
vol.resample('W').sum()

Symbols             AAPL         TSLA         TWTR         IBM         MSFT
Date
2015-01-04  2.128184e+08   23822000.0   12062500.0   5525500.0   27913900.0
2015-01-11  1.133010e+09  113548000.0  114718000.0  24454000.0  158825300.0
2015-01-18  1.216906e+09  153996000.0  100097300.0  23259800.0  157088200.0
2015-01-25  7.949480e+08   81058500.0   66713900.0  31244800.0  137352600.0
2015-02-01  1.863371e+09   78601000.0   87430900.0  32928000.0  437786800.0
...                  ...          ...          ...         ...          ...
2020-08-09  1.003689e+09  185455000.0   57950800.0  17735700.0  217568100.0
2020-08-16  9.418980e+08  355249000.0   84434400.0  18634400.0  141752200.0
2020-08-23  8.356952e+08  455117500.0   53342200.0  15932700.0  132379400.0
2020-08-30  1.063638e+09  443680500.0   66588400.0  16959100.0  171999700.0
2020-09-06  8.330150e+08  390607600.0   63461700.0  20286600.0  146795100.0

[297 rows x 5 columns]

### Step 9. Find all the volume traded in the year of 2015

In [48]:
vol.resample('Y').sum().head(1)

Symbols,AAPL,TSLA,TWTR,IBM,MSFT
Date,,,,,
2015-12-31,5.226420e+10,5.441089e+09,5.361489e+09,1.105583e+09,9.059456e+09

### BONUS: Create your own question and answer it.